.phonetics {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phonetics-text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.phonetics-text > h1 {
    font-size: 2.5rem;
}

.phonetics-text > h2 {
    font-size: 1.2rem;
    color: var(--clr-light-purple);
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-purple);
    border: transparent;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.audio > svg {
    fill: var(--clr-dark-purple);
}

.source {
    margin-bottom: 2rem;
}

.source > hr {
    background-color: var(--clr-text-secondary);
    width: 100%;
    height: 1px;
    border-width: 0;
    margin-bottom: 0.5rem;
}

.source-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.source-link > span {
    color: var(--clr-text-secondary);
}

.source-link > a {
    color: var(--clr-text);
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.error {
    margin-top: 1rem;
}

.error > h1 {
    font-size: 2rem;
}
