.meaning {
    margin: 2rem auto;
}

.meaning-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.meaning-title > h3 {
    font-style: italic;
    font-size: 1.2rem;
}

.meaning-title > hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: var(--clr-text-secondary);
}

.meaning h4 {
    color: var(--clr-text-secondary);
    margin: 1.5rem auto;
}

.meaning-list {
    margin-left: 2rem;
}

.meaning-list-item {
    margin-bottom: 0.5rem;
}

.example {
    color: var(--clr-text-secondary);
}

.synonym-antonym-title {
    color: var(--clr-text-secondary);
    margin-right: 1rem;
}

.synonym-antonym-text {
    color: var(--clr-light-purple);
    margin-top: 1rem;
}
