.meaning {
    margin: 1rem auto;
}

.meaning-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.meaning-title > h3 {
    font-style: italic;
    font-size: 1.2rem;
}

.meaning-title > hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: var(--clr-text-secondary);
}